ECHO is on.
__pycache__/
*.py[cod]
*$py.class
ECHO is on.
dist/
build/
*.egg-info/
ECHO is on.
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
ECHO is on.
.ipynb_checkpoints
ECHO is on.
.venv/
venv/
models/
ENV/
ECHO is on.
datasets/
ECHO is on.
models/*.pkl
models/*.h5
models/*.joblib
pretrained_models/*.pkl
pretrained_models/*.h5
pretrained_models/*.joblib
pretrained_models
pretrained_models/ 
runs_1/
ECHO is on.
.env
.env.local
ECHO is on.
.idea/
.vscode/
*.swp
*.swo
ECHO is on.
__pycache__
"datasets/" 
mlruns/
app/mlruns/
experiments/
notebooks/
temp_uploads/
tests/
docs/
runs/
mysqldata/